<div class="col-sm-12">
  <h4 class="text-left">Books</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Title</th>
        <th>Book rating</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <app-book-list-item [bookItem]="book" *ngFor="let book of books" (deleteBook)="deleteBook($event)"
                            (fullBook)="onFullBook($event)"></app-book-list-item>
      </tr>
    </tbody>
  </table>
  <app-book [book]="fullBook"></app-book>
</div>