<div class="col-sm-12">
  <div class="book-wrapper" *ngIf="book">
      <a (click)="closeBook()"><i class="fa fa-times fa-2x close-btn" aria-hidden="true"></i></a>

      <div class="book-image">
      <cl-image [public-id]="book?.image" [cloud-name]="uploader.cloudName" width="300" height="200"></cl-image>
    </div>
    <div class="about-book">
      <h2>{{ book?.title }}</h2>
      <div class="book-rating">
        <fieldset>
          <span class="star-cb-group">
           <input type="radio" id="rating-5" [checked]="book.rating >= 5" disabled/><label for="rating-5">4</label>
            <input type="radio" id="rating-4" [checked]="book.rating >= 4" disabled/><label for="rating-4">4</label>
            <input type="radio" id="rating-3" [checked]="book.rating >= 3" disabled/><label for="rating-3">4</label>
            <input type="radio" id="rating-2" [checked]="book.rating >= 2" disabled/><label for="rating-2">4</label>
            <input type="radio" id="rating-1" [checked]="book.rating >= 1" disabled/><label for="rating-1">4</label>
          </span>
        </fieldset>
      </div>
      <div class="book-post-date">
        {{ book?.time | date }}
      </div>
      <p>{{ book?.author }}</p>
      <p>{{ book?.description }}</p>
    </div>
  </div>
</div>
