<div class="col-sm-12">
  <div class="form-wrapper">
    <form class="add-book-form" (ngSubmit)="edit(f.value);" #f="ngForm">
      <div class="form-group"
           [ngClass]="{
         'has-error': t.invalid && t.touched,
         'has-success': t.valid && t.touched}">
        <label for="">Title</label>
        <input type="text" class="form-control" [(ngModel)] = "book.title"
               name="title" placeholder="Title" required #t="ngModel" [value]=book?.title>

      </div>
      <div class="form-group"
           [ngClass]="{
         'has-error': a.invalid && a.touched,
         'has-success': a.valid && a.touched}">
        <label for="">Author</label>
        <input type="text" class="form-control" [(ngModel)] = "book.author"
               name="author" placeholder="author" required #a="ngModel" [value]=book?.author>
      </div>
      <div class="form-group description"
           [ngClass]="{
         'has-error': d.invalid && d.touched,
         'has-success': d.valid && d.touched}">
        <label for="">Description</label>
        <textarea class="form-control" type="textarea" rows="10" [(ngModel)] = "book.description"
                  name="description" placeholder="Description" required #d="ngModel" [value]=book.description>
        </textarea>
      </div>
      <div class="form-group checkbox">
        <div>
          <p>Status</p>
        </div>
        <input type="checkbox" name="status" id="checkbox"
               class="status-checkbox ios-toggle"
               [checked]="isActiveStatus(book)"
               (change)="changeStatus(book)"/>
        <label for="checkbox" class="checkbox-label" data-off="off" data-on="on"></label>
      </div>
      <div class="form-group">
        <label for="">Rating</label>
        <fieldset>
          <span class="star-cb-group">
            <input type="radio" id="rating-5" [checked]="book.rating >= 5"
                   (click)="rating(5)"/><label for="rating-5">4</label>
            <input type="radio" id="rating-4" [checked]="book.rating >= 4"
                   (click)="rating(4)"/><label for="rating-4">4</label>
            <input type="radio" id="rating-3" [checked]="book.rating >= 3"
                   (click)="rating(3)"/><label for="rating-3">4</label>
            <input type="radio" id="rating-2" [checked]="book.rating >= 2"
                   (click)="rating(2)"/><label for="rating-2">4</label>
            <input type="radio" id="rating-1" [checked]="book.rating >= 1"
                   (click)="rating(1)"/><label for="rating-1">4</label>
          </span>
        </fieldset>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="f.invalid">Submit</button>
      <button type="button" class="btn btn-default" (click)="closeEdit(book)">Cancel</button>
    </form>
  </div>
</div>
