<div class="col-sm-12">
  <div class="form-wrapper">
    <form class="add-book-form" (ngSubmit)="edit(f.value);" #f="ngForm">
      <div class="form-group"
           [ngClass]="{
         'has-error': t.invalid && t.touched,
         'has-success': t.valid && t.touched}">
        <label for="">Title</label>
        <input type="text" class="form-control" [(ngModel)] = "book.title"
               name="title" placeholder="Title" required #t="ngModel" [value]=book.title>

      </div>
      <div class="form-group"
           [ngClass]="{
         'has-error': a.invalid && a.touched,
         'has-success': a.valid && a.touched}">
        <label for="">Author</label>
        <input type="text" class="form-control" [(ngModel)] = "book.author"
               name="author" placeholder="author" required #a="ngModel" [value]=book.author>
      </div>
      <div class="form-group description"
           [ngClass]="{
         'has-error': d.invalid && d.touched,
         'has-success': d.valid && d.touched}">
        <label for="">Description</label>
        <textarea class="form-control" type="textarea" maxlength="140" rows="7" [(ngModel)] = "book.description"
                  name="description" placeholder="Description" required #d="ngModel" [value]=book.description>
        </textarea>
      </div>
      <div class="form-group checkbox">
        <div>
          <p>Status</p>
        </div>
        <input type="checkbox" name="status" [(ngModel)] = "book.status" [checked]=book.status>

      </div>

      <div class="form-group"
           [ngClass]="{
         'has-error': r.invalid && r.touched,
         'has-success': r.valid && r.touched}">
        <label for="">Rating</label>
        <input type="text" class="form-control" [(ngModel)] = "book.rating"
               name="rating" placeholder="Rating" required #r="ngModel" [value]=book.rating>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="f.invalid">Submit</button>
      <button type="button" class="btn btn-default" (click)="closeEdit(book)">Cancel</button>
    </form>
  </div>
</div>
