.form-wrapper{
    display: flex;
    justify-content: center;
}
.description{
    display: flex;
    flex-direction: column;
}

.add-book-form{
    width: 50%;
}

body{
    background:#f1f1f1;
}
h1{
    margin:75px auto 0 auto;
    text-align:center;
    font-weight:200;
    color:#4b4b4b;
}

.ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}
.checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    /*margin-bottom:20px;*/
    font-size:12px;
    line-height:16px;
    width:100%;
    height:36px;
    /*border-radius*/
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
}
.checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height:36px;
    width:36px;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    color:#bfbfbf;
    white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
}
/* GREEN CHECKBOX */

#checkbox1 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
#checkbox1:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
#checkbox1:checked + .checkbox-label:after{
    color:rgba(19,191,17,1);
}

.checkbox{
    width: 70px;
    *,*:before,*:after{
    //transition
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    outline:none;
    font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
}
}

.form-group{
    margin-bottom: 10px;
}

$unchecked-star: '\2606';
$unchecked-color: #888;
$checked-star: '\2605';
$checked-color: #e52;

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    display: flex;
    justify-content: flex-end;
    * {
        font-size: 1rem;
    }
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    & > input {
        display: none;
        & + label {
            /* only enough room for the star */
            display: inline-block;
            overflow: hidden;
            text-indent: 9999px;
            //width: 1em;
            white-space: nowrap;
            cursor: pointer;
            margin-right: 10px;
            width:20px;
            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
                font-size: 20px;
            }
        }
        &:checked ~ label:before,
        & + label:hover ~ label:before,
        & + label:hover:before {
            content: $checked-star;
            color: #e52;
            text-shadow: 0 0 1px #333;
        }
    }

    /* the hidden clearer */
    & > .star-cb-clear + label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em;
    }
    & > .star-cb-clear + label:before {
        width: .5em;
    }

    &:hover > input + label:before {
        content: $unchecked-star;
        color: $unchecked-color;
        text-shadow: none;
    }
    &:hover > input + label:hover ~ label:before,
    &:hover > input + label:hover:before {
        content: $checked-star;
        color: $checked-color;
        text-shadow: 0 0 1px #333;
    }
}

// extra styles
:root {
    font-size: 2em;
    font-family: Helvetica, arial, sans-serif;
}

body {
    background: #333;
    color: $unchecked-color;
}
fieldset {
    border: 0;

    border-radius: 1px;
    //padding: 1em 1.5em 0.9em;
    //margin: 1em auto;
}
#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}
h1 {
    text-align: center;
}
